[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = {extras = ["sentencepiece"], version = "*"}
datasets = "*"
rouge-score = "*"
nltk = "*"
tqdm = "*"
matplotlib = "*"
notebook = "*"
boto3 = "*"
mypy-boto3-s3 = "*"
python-box = "*"
ensure = "*"
fastapi = "*"
polars = "*"
uvicorn = "*"
evaluate = "*"
torch = "*"
textsummarizer = {file = ".", editable = true}

[dev-packages]
torch-tb-profiler = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
