[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cpu"
verify_ssl = true
name = "pytorch-nightly"

[packages]
rouge-score = "*"
nltk = "*"
tqdm = "*"
boto3 = "*"
mypy-boto3-s3 = "*"
python-box = "*"
ensure = "*"
fastapi = "*"
uvicorn = "*"
evaluate = "*"
torch = {version = "*", index = "pytorch-nightly"}
textsummarizer = {file = ".", editable = true}
accelerate = "*"
transformers = "*"
datasets = "*"
sentencepiece = "*"

[dev-packages]
torchinfo = "*"
torch-tb-profiler = "*"
google-cloud-aiplatform = "*"
matplotlib = "*"
notebook = "*"


[requires]
python_version = "3.11"
python_full_version = "3.11.9"

[pipenv]
allow_prereleases = true
